body, html {
  margin: 0;
  overflow: hidden;
  height:100%;
  min-width: 0;
  min-height: 0
}

#users-list {
  padding-left: 10px;
}

.users-panel {
  background-color: lightskyblue;
  height:100vh
}

.messages-panel {
  background-color: white;
  height: 100vh;
  position: absolute;
  right: 0px;
  overflow-y: scroll;
  overflow: hidden;
}

.message-form {
  position: absolute; 
  bottom: 20px;
  margin-right: 30px;
}

.messages {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  top: 80px;
  bottom: 50px;
  right: 0px;
  width: 100%;
  -ms-overflow-style: none;  
  overflow: -moz-scrollbars-none;
  vertical-align: bottom;
}

.messages:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}

#message-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  overflow-x: hidden;
  max-height: 95%;
  width: 100%;
  -ms-overflow-style: none;  
  overflow: -moz-scrollbars-none;
}

.messages::-webkit-scrollbar { 
  display: none; 
}

.input-group {
  width: 80vw;
}
